<div class="container ">
	<div class="row">

		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h1>Login here...</h1>	
	
			<form name="login" ng-submit="vm.doLogin()">
		<div>Username:</div>
		<input type="text" name="username" ng-model="vm.loginData.username" >
		<div>Password:</div>
		<input type="password" name="password" ng-model="vm.loginData.password">

		<div style="padding-top:10px;"><button type="submit" class="btn btn-success">Login</button></div>
	</form>
		 </div>

	</div>
	
</div>